body {
  font-family: "Poppins", sans-serif;
}

.deskripsi-petunjuk {
  background-color: #bf5331;
}

/* hero style */
#hero {
  /* background: #f3f3f3; */
  background-image: url("../image/Frame4.jpg");
  background-size: cover;
  height: 470px;
  position: relative;
}

.hero-tagline h1 {
  color: #000;
  font-weight: 700;
  font-size: 50px;
  line-height: 72px;
}

.hero-tagline p {
  font-size: 20px;
  color: #000;
  margin-bottom: 60px;
  margin-top: 20px;
  line-height: 30px;
  width: 85%;
}

.hubButton {
  box-shadow: 0px 6px 12px -7px #276873;
  background-color: #d9d9d9;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 15px;
  text-decoration: none;
}

.hubButton:hover {
  background-color: #0357e7;
  color: white;
}

.hubButton:active {
  position: relative;
  top: 1px;
}

#product {
  background: #fff;
  height: 100vh;
  width: 100%;
}

/* store */
#store {
  background: #f3f3f3;
}

#produkContent {
  background: #f3f3f3;
}

/* pesan sekarang */
.pesan-sekarang {
  background: rgb(3, 87, 231);
  background: linear-gradient(
    90deg,
    rgba(3, 87, 231, 1) 0%,
    rgba(139, 175, 237, 1) 100%
  );
  color: #fff;
}

/* .psn-skrg {
  background-repeat: no repeat;
} */
/* spanduk detail */
#spanduk {
  background: #f3f3f3;
}

/* hover image */

/* end hover image */

.img-gallery-satu {
  -webkit-animation: appear 1s ease-in 0s 1 normal;
  -moz-animation: appear 1s ease-in 0s 1 normal;
  -ms-animation: appear 1s ease-in 0s 1 normal;
  animation: appear 1s ease-in 0s 1 normal;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  60% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

/* footer */
.section-footer {
  background: #fff;
  color: #000;
  font-size: 15px;
}

.list-unstyled a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
}

/* hover produk */
.produk .overlay-project {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.93);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s;
}

.produk .produk-content:hover .overlay-project {
  opacity: 0.9;
}

.view-produk {
  color: #f05454;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  justify-content: center;
}

.view-produk:hover {
  color: #f38888;
  font-weight: 700;
  font-size: 35px;
  text-decoration: none;
  justify-content: center;
}

.myButton {
  box-shadow: 0px 10px 14px -7px #276873;
  background-color: #d9d9d9;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 15px;
  text-decoration: none;
  float: right;
}

.myButton:hover {
  background-color: #0357e7;
  color: white;
}

.myButton:active {
  position: relative;
  top: 1px;
}

#portfolio .portfolio-item {
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 200, 0, 0.9);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}

#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content {
  font-size: 1.25rem;
  color: white;
}

#portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
  opacity: 1;
}

.img-category a {
  position: absolute;
  top: 0;
  left: 0px;
  right: 0px;
  bottom: 8px;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 8px;
}

.img-category:hover {
  opacity: 1;
}

/* header baliho */
.header-baliho {
  background-image: url("image/header-baliho.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
